#footer {
    padding: 50px 0;
    background-color: #102A71;
}

#footer .f__inner {
    width: 1300px;
    margin: 0 auto;
    color: #fff;
}

#footer .f__inner img {
    width: 130px;
}

#footer .f__logo__box {
    margin-bottom: 40px;
}

hr {
    background:rgba(0, 0, 0, 0.5);
    height:1px;
    border:0;
    margin: 20px 0;
}

.go_top {
    background-color: #fff;
    box-shadow: 2px 2px 10px #999;
    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
}

.go_top img {
    padding: 10px;
}

@media screen and (max-width: 1300px) {
    #footer .f__inner {
        width: 960px;
    }

    #footer .f__inner img {
        width: 100px;
    }
}

@media screen and (max-width: 1023px) {
    #footer .f__inner {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
