#header {
    width: 100%;
    height: 80px;
    position: fixed;
    transition: all 0.3s;
    z-index: 9999;
    background-color: #fff;
}

#header:hover {
    transition: all 0.3s;
}

#header .nav_m {
    display: none;
}

#header .h-inner {
    height: 100%;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .h-inner .h-logo img{
    width: 130px;
}

#header .h-inner nav ul.nav-menu {
    display: flex;
    align-items: center;
}

#header .h-inner nav ul.nav-menu li {
    position: relative;
    color: #102A71;
    transition: all 0.3s;
    font-size: 18px;
    font-weight: 600;
}

#header .h-inner nav ul.nav-menu li.nav-menu-btn:hover > a {
    font-weight: bold;
    transition: all 0.3s;
}

#header .h-inner nav ul.nav-menu > li.nav-menu-btn > a {
    padding: 31px 65px;
}

#header .h-inner nav ul.nav-menu li .sub-menu {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    box-shadow: 1px;
    background-color: #102A71;
}

#header .h-inner nav .sub-menu li {
    text-align: center;
}

#header .h-inner nav .sub-menu li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px 30px;
    color: #fff;
    transition: all 0.3s;
}

#header .h-inner nav .sub-menu li a:hover {
    background-color: #0E235B;
    font-weight: bold;
    transition: all 0.3s;
}

#header .h-inner nav.pc ul.nav-menu li.nav-menu-btn:hover .sub-menu {
    display: block;
}


#header .h-inner .login a {
	display: flex;
	align-items: center;
    color: #3d3d3d;
    transition: all 0.1s;
}

#header .h-inner .login a span:hover {
    font-weight: bold;
    transition: all 0.1s;
}

@media screen and (max-width: 1300px) {
    #header .h-inner {
        width: 960px;
    }

    #header .h-inner .h-logo img{
        width: 100px;
    }

    #header .h-inner nav ul.nav-menu > li.nav-menu-btn > a {
        padding: 30px 40px;
    }

    #header .h-inner nav .sub-menu li a {
        font-size: 14px;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 1023px) {
    #header {
        background-color: #fff;
    }

    #header .h-inner {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    #header .pc {
        display: none;
    }

    #header .nav_m {
        display: block;
    }

    #header .menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: 0;
        transition: 0.5s ease;
        z-index: 999;
        background-color: #ececec;
        width: 100%;
        margin-top: 100px;
        margin: 0 auto;
        color: #102A71;
        font-size: 18px;
    }

    #header .burger-icon {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        z-index: 1000;
        padding: 8px 0;
        top: 30px;
        right: 30px;
        user-select: none;
        width: auto;
        margin: 0;
    }
    
    #header .burger-icon .burger-sticks {
        background-color: #102A71;
        display: block;
        height: 3px;
        position: relative;
        transition: .2s ease-out;
        width: 30px;
    }
    
    #header .burger-icon .burger-sticks:before,
    #header .burger-icon .burger-sticks:after {
        background-color: #102A71;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    #header .burger-icon .burger-sticks:before {
        top: 10px;
    }
    
    #header .burger-icon .burger-sticks:after {
        top: -10px;
    }
    
    #header .burger-check {
        display: none;
    }
    
    #header .burger-check:checked~.menu {
        max-width: 100%;
    }
    
    #header .burger-check:checked~.burger-icon .burger-sticks {
        background: transparent;
    }
    
    #header .burger-check:checked~.burger-icon .burger-sticks:before {
        transform: rotate(-45deg);
    }
    
    #header .burger-check:checked~.burger-icon .burger-sticks:after {
        transform: rotate(45deg);
    }
    
    #header .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
    #header .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
        top: 0;
    }

    #header .menu nav {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    #header .menu nav .nav-menu-btn-mo {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    #header .menu nav .nav-menu-btn-mo > a {
        display: block;
        padding: 20px 0;
        width: 700px;
        margin: 0 auto;
        font-size: 20px;
        font-weight: bold;
        color: #102A71;
    }

    #header .menu nav .nav-menu-btn-mo > div {
        display: block;
        width: 700px;
        margin: 0 auto;
        color: #102A71;
        padding-bottom: 20px;
        border-bottom: 1px solid #102A71;
    }

    #header .menu nav .nav-menu-btn-mo .font-bo {
        font-weight: bold;
    }

    #header .nav-menu-mo {
        text-align: center;
    }

    #header .accordion-btn {
        display: block;
        cursor: pointer;
        padding: 20px 0;
    }

    #header .accordion-menu > a {
        width: 700px;
        display: block;
        font-size: 18px;
        padding: 10px 0;
        text-align: center;
        color: #102A71;
    }

    #header .login a {
        padding: 10px;
        width: 700px;
        margin: 0 auto;
    }

    #header .login a span {
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        color: #102A71;
    }
}

@media screen and (max-width: 767px) {
    /* 525 */
    #header .menu nav .nav-menu-btn-mo > a {
        width: 500px;
    }

    #header .menu nav .nav-menu-btn-mo > div {
        width: 500px;
    }
    
    #header .accordion-menu > a {
        width: 100%;
    }

    #header .login a {
        width: 500px;
    }

}

@media screen and (max-width: 524px) {
    #header {
        height: 60px;
    }

    #header .h-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header .burger-icon {
        top: 20px;
        right: 30px;
    }
    
    #header .menu nav .nav-menu-btn-mo > a {
        width: 300px;
    }
    
    

    #header .menu nav .nav-menu-btn-mo > div {
        width: 300px;
    }

    #header .login a {
        width: 300px;
    }
}